<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <title>Nature</title>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a href=""><span class="iconify" data-icon="ic:baseline-menu"></span></a>
            </div>
            <div>
                <a class="brand" href="index.html">Nature</a>
            </div>
            <div>
                <a href=""><span class="iconify" data-icon="ic:round-search"></span></a>
                <a href="cart.html"><span class="iconify" data-icon="ic:outline-shopping-bag"></span></a>
                <a href="signin.html"><span class="iconify" data-icon="ic:baseline-person-outline"></span></a>
            </div>
        </header>
        <main>
            <div class="row center">
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px -->
                        <img class="medium" src="./images/product-1.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html"><h2>Cream</h2></a>
                        <div class="rating">
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px -->
                        <img class="medium" src="./images/product-2.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html"><h2>Cream</h2></a>
                        <div class="rating">
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px -->
                        <img class="medium" src="./images/product-3.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html"><h2>Cream</h2></a>
                        <div class="rating">
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px -->
                        <img class="medium" src="./images/product-4.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html"><h2>Cream</h2></a>
                        <div class="rating">
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px -->
                        <img class="medium" src="./images/product-5.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html"><h2>Cream</h2></a>
                        <div class="rating">
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
                <div class="card">
                    <a href="product.html">
                        <!-- image size: 680px by 830px -->
                        <img class="medium" src="./images/product-6.jpg" alt="product">
                    </a>
                    <div class="card-body">
                        <a href="product.html"><h2>Cream</h2></a>
                        <div class="rating">
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                            <span class="iconify" data-icon="ic:baseline-star" style="color: yellow;"></span>
                        </div>
                        <div class="price">
                            $120
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="row center">All rights reserved</footer>
    </div> 
</body>
</html>